<h3 class="fs-display-1 display-block" ng-show="$state.includes('editMovie')">Edit Lawyer</h3>
<form class="form-horizontal" role="form" ng-submit="updateLawyer()">
    <div ng-include="'partials/_form.html'"></div>
</form>