<div flex-container="row" flex-align="center">
    <div flex-item="8">
        <lx-text-field lx-label="name" lx-allow-clear="true">
            <input type="text" ng-model="movie.name" class="form-control" id="name" placeholder="Name" autofocus/>
        </lx-text-field>
        <lx-text-field lx-label="specialty" lx-allow-clear="true">
            <input type="text" ng-model="movie.specialty" class="form-control" id="specialty" placeholder="Specialty"/>
        </lx-text-field>
        <lx-text-field lx-label="title" lx-allow-clear="true">
            <input type="text" ng-model="movie.title" class="form-control" id="title" placeholder="Title"/>
        </lx-text-field>
        <lx-text-field lx-label="age" lx-allow-clear="true">
            <input type="number" ng-model="movie.age" class="form-control" id="age" placeholder="Age"/>
        </lx-text-field>
    </div>
</div>
<br>
<div flex-container="row" flex-align="center">
    <div flex-item="8" >
        <lx-button type="submit" class="btn-with" lx-color="green" lx-color="green" value="Save">Save</lx-button>
    </div>
</div>