<h3 class="fs-display-1 display-block" ng-show="$state.includes('newMovie')">Add Lawyer</h3>
<form class="form-horizontal" role="form" ng-submit="addLawyer()">
    <div ng-include="'partials/_form.html'"></div>
</form>