<div ng-show="loading" class="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
</div>

<div class="float-right">
    <lx-button lx-type="fab" ui-sref="newMovie" lx-size="l" lx-ripple lx-tooltip="Add New Lawyer" lx-tooltip-position="bottom"><i class="mdi mdi-plus"></i></lx-button>
</div>

<h3 class="fs-display-1 display-block">All Lawyers</h3>
<table class="data-table">
    <tr>
        <th width="20%">Name <a href="#" ng-click="sort='name'; name=!-name"><i class="fa tc-teal-300" ng-click="up=!up" ng-class="{'fa-chevron-up': up , 'fa-chevron-down': !-up }"></i></a></th>
        <th width="20%">Specialty</th>
        <th width="20%">Title</th>
        <th width="10%">Age</th>
        <th width="30%"></th>
    </tr>
    <tr ng-repeat="movie in movies.lawyers | orderBy:sort:name">
        
        <td>{{movie.name}}</td>
        <td>{{movie.specialty}}</td>
        <td>{{movie.title}}</td>        
        <td>{{movie.age}}</td>     
        <td>
            <lx-button lx-color="blue" lx-type="flat" ui-sref="viewMovie({id:movie.id})">View</lx-button>
            <lx-button lx-color="orange" lx-type="flat" ui-sref="editMovie({id:movie.id})">Edit</lx-button>
            <lx-button lx-color="red" lx-type="flat" ng-click="deleteLawyer(movie)">Delete</lx-button>
        </td>
    </tr>
</table>
