<div class="p+">
    <div class="card">
        <div flex-container="row">
            <div class="card__img card__img--left" style="height: 350px">
                <img ng-src="http://images.8tracks.com/cover/i/000/827/651/Suits_2B2_25C2_25AA_2BTemporada_2B-_2Bwww.baixatudofilmes.com--1069.jpg?rect=0,0,400,400&q=98&fm=jpg&fit=max" class="img-responsive" border="0" alt="">
            </div>
 
            <div flex-item flex-container="column">
                <div flex-item>
                    <div class="p+">
                        <strong class="fs-headline display-block">
                            {{movie.lawyer.name}}
                        </strong>
                        <span class="fs-subhead tc-black-2 display-block">
                            Title: {{movie.lawyer.title}}
                        </span>
                        <span class="fs-subhead tc-black-2 display-block">
                            Specialty: {{movie.lawyer.specialty}} 
                        </span>
                        <span class="fs-subhead tc-black-2 display-block">
                            Age: {{movie.lawyer.age}}
                        </span>
                    </div>
                </div>
 
                <div class="card__actions">
                    <lx-button lx-color="orange" lx-type="flat" ui-sref="editMovie({id:movie.lawyer.id})">Edit</lx-button>
                    <lx-button lx-color="red" lx-type="flat" ng-click="deleteLawyerView({id:movie.lawyer.id})">Delete</lx-button>
                </div>
            </div>
        </div>
    </div>
</div>