@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

nav{
	margin-bottom:  2.5em;
}
nav h1 a{
	color: white;
	display: block;
	font-size: 1.2em;
	padding: .2em;
	margin-left: 50px;
	text-decoration: none;
}
i.fa{
	display: inline-block;
}
.data-table{
	margin: 4.5em 0;
}
.data-table tr,
.data-table tr td{
	transition: all .3s;
}
.data-table tr:hover td{
	background-color: #f9f9f9;
}


.spinner {
	position: absolute;
	top: -100px;
	right: 0;
  margin: 0 auto ;
  width: 70px;
  text-align: center;
  z-index: 123;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #92f4e9;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}